/* ============================================= */
/*              Navigation                       */
/* ============================================= */

nav {
background-color: $nav-bg;
display: flex;
justify-content: space-around;
padding: 10px 0;

  svg{
    height: 30px;
    fill: $default-color;
    transition: fill ease-in .3s;

    &:hover{
      fill: lighten($default-color, 30%)
    }
  }


}
  
